*{
   outline: 2px solid red; 
}
/*CLASES GENERALES*/

.documental , .hackathon
{
    margin-top: 50px;
}
.documental h3 , .hackathon h3 , .contacto h3
{
    padding-bottom: 20px; 
}
.texto button , .hackathon button 
{
    background-color:#1E69B6;
    width: 100px;
    padding: 10px;
    color: white;
}
.contacto , .hackathon
{
    padding: 50px 0;
}
.code_girls, .hack
{
    margin-top: 10px;
}
/*ESTA ES EL HEADER*/
.icon-bar{color:green;}
header .titulo { padding: 20px 80px; }
header nav { text-align: center; }
header nav ul { list-style-type: none; }
header nav ul li { display: inline; }
header nav ul li a { font-size: 1.2em; color: grey;}
header nav a:hover { text-decoration: none; }
/*ESTA ES LA SECCION DEL HOME*/
.home
{
    background: url('../img/home.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    color: white; 
    height:460px;
    line-height: 30px;
}
.texto
{
    margin:0 auto;
    outline: 2px solid green;
    padding: 120px 0px;
}
.texto p { color: black;}
/*ESTA ES LA SECCION DEL DOCUMENAL*/
.documental h2
{
    padding: 30px;
}
/*ESTA ES LA SECCION DE LA HACKATHON*/
.hackathon
{
    background-color: #E4F11A;
}
/*ESTA ES LA SECTION DEL CONTACTO*/
.contacto img
{
    margin-top: 30px;
    padding:10px;
    height: 350px;
}
form button
{
    background-color:#1E69B6;
    color: white; 
}
/*invalido*/
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid{
    background: transparent url(../img/asterico.jpg) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
}
/*valido*/
.contact_form input:required:valid, .contact_form textarea:required:valid{
    background: transparent url(../img/asterisco.jpg) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.contact_form input:focus, .contact_form textarea:focus{
    background: transparent;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right: 70px;
}
input:required, textarea:required{
    background: url(../img/asterisco.png) no-repeat 98% center;
    background-size: 1.3%;
}
/*ESTE EL FORMATO APROPIADO DEL EMAIL*/
.form_hint{
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left: 8px;
    padding: 1px 6px;
    z-index: 999;
    position: absolute;
    display: none;
    font-size: 11px;
}
.form_hint::before{
    content: "\25C0";
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px;
}
.contact_form input:focus + .form_hint{
    display: inline;
}
.contact_form input:required:valid + .form_hint{
    background: #28921f;
}
.contact_form input:required:valid + .form_hint::before{
    color: #28921f;
}
/*ESTA ES LA SECCION ANTES DEL FOOTER*/
footer
{
    background-color: #1CB1AF;
    padding:25px 0;
    color: white;
}
footer small
{
    font-size: 15px;
    color: #E4F11A;
}